@import "tailwindcss";


:root {
  --font-anton: 'Anton', sans-serif;
  --font-inter: 'Inter';
}

html {
  font-family: var(--font-inter);
}


.anton {
  font-family: var(--font-anton), sans-serif;
}
.custom-scroll::-webkit-scrollbar {
  display: none;
}
.custom-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Add to globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}