@import "tailwindcss";


:root {
  --font-anton: 'Anton', sans-serif;
  --font-inter: 'Inter';
}

html {
  font-family: var(--font-inter);
}


.anton {
  font-family: var(--font-anton), sans-serif;
}

